@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main-cover {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMain {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px #3735358b;
    overflow: hidden;
    /* height: -webkit-fill-available; */
    margin: 0 20px;
}

.containerMain .form {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
